################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Test_proj
/.vs/Test_proj/CopilotIndices/17.14.1347.20289
/.vs/Test_proj/CopilotIndices/17.14.1347.20289/CodeChunks.db
/.vs/Test_proj/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
/.vs/Test_proj/v17
/.vs/Test_proj/v17/.wsuo
/.vs/Test_proj/v17/DocumentLayout.backup.json
/.vs/Test_proj/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/GameReleases/GameReleases.Core/bin/Debug/net8.0
/GameReleases/GameReleases.Core/bin/Debug/net8.0/GameReleases.Core.deps.json
/GameReleases/GameReleases.Core/bin/Debug/net8.0/GameReleases.Core.dll
/GameReleases/GameReleases.Core/bin/Debug/net8.0/GameReleases.Core.pdb
/GameReleases/GameReleases.Core/bin/Debug/net8.0/GameReleases.Infrastructure.dll
/GameReleases/GameReleases.Core/bin/Debug/net8.0/GameReleases.Infrastructure.pdb
/GameReleases/GameReleases.Core/obj
/GameReleases/GameReleases.Core/obj/Debug
/GameReleases/GameReleases.Core/obj/Debug/net8.0
/GameReleases/GameReleases.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameRele.4C514D70.Up2Date
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.AssemblyInfo.cs
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.AssemblyInfoInputs.cache
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.assets.cache
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.csproj.AssemblyReference.cache
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.csproj.BuildWithSkipAnalyzers
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.csproj.CoreCompileInputs.cache
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.csproj.FileListAbsolute.txt
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.dll
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.GeneratedMSBuildEditorConfig.editorconfig
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.GlobalUsings.g.cs
/GameReleases/GameReleases.Core/obj/Debug/net8.0/GameReleases.Core.pdb
/GameReleases/GameReleases.Core/obj/Debug/net8.0/ref
/GameReleases/GameReleases.Core/obj/Debug/net8.0/ref/GameReleases.Core.dll
/GameReleases/GameReleases.Core/obj/Debug/net8.0/refint
/GameReleases/GameReleases.Core/obj/Debug/net8.0/refint/GameReleases.Core.dll
/GameReleases/GameReleases.Core/obj/Debug/net9.0
/GameReleases/GameReleases.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/GameReleases/GameReleases.Core/obj/Debug/net9.0/GameReleases.Core.AssemblyInfo.cs
/GameReleases/GameReleases.Core/obj/Debug/net9.0/GameReleases.Core.AssemblyInfoInputs.cache
/GameReleases/GameReleases.Core/obj/Debug/net9.0/GameReleases.Core.assets.cache
/GameReleases/GameReleases.Core/obj/Debug/net9.0/GameReleases.Core.GeneratedMSBuildEditorConfig.editorconfig
/GameReleases/GameReleases.Core/obj/Debug/net9.0/GameReleases.Core.GlobalUsings.g.cs
/GameReleases/GameReleases.Core/obj/GameReleases.Core.csproj.nuget.dgspec.json
/GameReleases/GameReleases.Core/obj/GameReleases.Core.csproj.nuget.g.props
/GameReleases/GameReleases.Core/obj/GameReleases.Core.csproj.nuget.g.targets
/GameReleases/GameReleases.Core/obj/project.assets.json
/GameReleases/GameReleases.Core/obj/project.nuget.cache
/GameReleases/GameReleases.Infrastructure/bin/Debug/net8.0
/GameReleases/GameReleases.Infrastructure/bin/Debug/net8.0/GameReleases.Infrastructure.deps.json
/GameReleases/GameReleases.Infrastructure/bin/Debug/net8.0/GameReleases.Infrastructure.dll
/GameReleases/GameReleases.Infrastructure/bin/Debug/net8.0/GameReleases.Infrastructure.pdb
/GameReleases/GameReleases.Infrastructure/bin/Debug/net8.0/GameReleases.Infrastructure.runtimeconfig.json
/GameReleases/.vs/GameReleases
/GameReleases/.vs/GameReleases/config
/GameReleases/.vs/GameReleases/config/applicationhost.config
/GameReleases/.vs/GameReleases/CopilotIndices/17.14.1347.20289
/GameReleases/.vs/GameReleases/CopilotIndices/17.14.1347.20289/CodeChunks.db
/GameReleases/.vs/GameReleases/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
/GameReleases/.vs/GameReleases/CopilotIndices/17.14.1347.20289/CodeChunks.db-wal
/GameReleases/.vs/GameReleases/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
/GameReleases/.vs/GameReleases/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-shm
/GameReleases/.vs/GameReleases/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-wal
/GameReleases/.vs/GameReleases/DesignTimeBuild
/GameReleases/.vs/GameReleases/DesignTimeBuild/.dtbcache.v2
/GameReleases/.vs/GameReleases/FileContentIndex
/GameReleases/.vs/GameReleases/FileContentIndex/43d5ae52-4fe1-45a3-b095-f4e435b154ce.vsidx
/GameReleases/.vs/GameReleases/FileContentIndex/4f09ac6d-6604-440b-8c68-621c3854a946.vsidx
/GameReleases/.vs/GameReleases/FileContentIndex/8110b09a-77fb-40e7-a33d-d0bfcea4d212.vsidx
/GameReleases/.vs/GameReleases/FileContentIndex/859fabe3-27e0-464b-aa28-10bff283f551.vsidx
/GameReleases/.vs/GameReleases/FileContentIndex/8acbf915-1038-4602-aa04-fa2b9e99501a.vsidx
/GameReleases/.vs/GameReleases/v17
/GameReleases/.vs/GameReleases/v17/.suo
/GameReleases/.vs/GameReleases/v17/DocumentLayout.backup.json
/GameReleases/.vs/GameReleases/v17/DocumentLayout.json
/GameReleases/GameReleases.Infrastructure/obj
/GameReleases/GameReleases.Infrastructure/obj/Debug
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.AssemblyInfo.cs
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.AssemblyInfoInputs.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.assets.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.csproj.AssemblyReference.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.csproj.BuildWithSkipAnalyzers
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.csproj.CoreCompileInputs.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.csproj.FileListAbsolute.txt
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.dll
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.genruntimeconfig.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.GlobalUsings.g.cs
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/GameReleases.Infrastructure.pdb
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/ref
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/ref/GameReleases.Infrastructure.dll
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/refint
/GameReleases/GameReleases.Infrastructure/obj/Debug/net8.0/refint/GameReleases.Infrastructure.dll
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0/GameReleases.Infrastructure.AssemblyInfo.cs
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0/GameReleases.Infrastructure.AssemblyInfoInputs.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0/GameReleases.Infrastructure.assets.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0/GameReleases.Infrastructure.csproj.AssemblyReference.cache
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0/GameReleases.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/GameReleases/GameReleases.Infrastructure/obj/Debug/net9.0/GameReleases.Infrastructure.GlobalUsings.g.cs
/GameReleases/GameReleases.Infrastructure/obj/GameReleases.Infrastructure.csproj.EntityFrameworkCore.targets
/GameReleases/GameReleases.Infrastructure/obj/GameReleases.Infrastructure.csproj.nuget.dgspec.json
/GameReleases/GameReleases.Infrastructure/obj/GameReleases.Infrastructure.csproj.nuget.g.props
/GameReleases/GameReleases.Infrastructure/obj/GameReleases.Infrastructure.csproj.nuget.g.targets
/GameReleases/GameReleases.Infrastructure/obj/GameReleases.Infrastructure.EntityFrameworkCore.targets
/GameReleases/GameReleases.Infrastructure/obj/project.assets.json
/GameReleases/GameReleases.Infrastructure/obj/project.nuget.cache
/GameReleases/GameReleases.WebApi/bin/Debug/net8.0
/GameReleases/GameReleases.WebApi/obj
/MyMirra
/obj
/GameReleases/.vs/ProjectEvaluation
