# Системные файлы
**/.git
**/.vs
**/.vscode

# Файлы сборки
**/bin/
**/obj/
**/TestResults/

# Логи и кэши
**/logs/
**/node_modules/
**/.npm/

# Конфиги IDE
**/*.user
**/*.suo
**/*.psess
**/.project
**/.classpath
**/.settings/

# Docker файлы (опционально - если они не нужны в контейнере)
# **/Dockerfile*
# **/docker-compose*
# **/.env

# Документация
**/*.md
**/LICENSE

# Временные файлы
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/secrets.dev.yaml
**/values.dev.yaml
**/charts/

.buildx-cache/
**/playwright-report/
**/test-results/
**/.playwright/
**/.nuget/
**/.idea/